<!DOCTYPE html>
<html>
<head>
    <title>{{ site_title }} - {{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.min.css" />
</head>
<body>
    <div class="container">
        <header>
            {{> header }}
        </header>
        <section>
            {{> body }}
        </section>
        <footer>
            {{> footer }}
        </footer>
    </div>

    <script src="/js/es5-shim.js"></script>

    {{#if conf.isProd}}
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    {{else}}
	<script src="/js/jquery.js"></script>
	{{/if}}

    <script src="/js/jquery.x-domain-request.js"></script>
    <!--<script src="/js/bootstrap.js"></script>-->
    <!-- Google search tool -->
    {{#if conf.isProd}}
    <script src="//www.google.com/jsapi"></script>
    <script src="/js/google-search-tool.min.js"></script>
    <link rel="stylesheet" href="/css/search.css" />
    {{/if}}
    {{#if conf.isProd}}
	{{#page_scripts.dst }}
    <script src="{{.}}"></script>
    {{/page_scripts.dst }}
	{{else}}
    {{#page_scripts.dev }}
    <script src="{{.}}"></script>
    {{/page_scripts.dev }}
    {{/if}}
</body>
</html>